@charset "UTF-8";
/* Define a variable for the base font-size */
html {
  font-size: 16px;
  /* Use media queries to change the font-size based on the viewport width */
}
@media (min-width: 768px) {
  html {
    font-size: 19.2px;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 28.8px;
  }
}

body #destinations {
  font-family: "Quicksand", sans-serif;
}

#bg-video {
  filter: opacity(40%);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -o-object-fit: cover;
     object-fit: cover;
}

.grayscale {
  filter: grayscale(100%);
}

#menu {
  position: fixed;
  right: -300px;
  top: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  transition: right 0.5s;
  z-index: 1;
}

#menu.open {
  right: 0;
}

#logo {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  padding: 1em 0.5em 0.6em 0.4em;
}

#logo img {
  width: 100%;
  max-width: 370px;
}

#logo-small {
  width: 75%;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 1em 0.5em 0.6em 0.4em;
  background: #fff;
}

#message {
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1C3761;
  font-family: "Quicksand", sans-serif;
  line-height: 1.3em;
  letter-spacing: -0.08rem;
  font-weight: 400;
  padding: 0 0.1em;
  font-size: 1.6rem;
}
@media (min-width: 1400px) {
  #message {
    top: 44%;
    font-size: 2rem;
  }
}
#message span.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#message span.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}
#message span.bold {
  color: #05A653;
}

#get-started {
  display: none;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  cursor: pointer;
  flex: 0 0 auto;
  background: #1C3761;
  color: #fff;
  border-radius: 6px;
  padding: 0.55rem 0.7rem;
  font-size: 0.75rem;
  line-height: 1rem;
  box-shadow: -1px 3px 3px 0 rgb(0, 0, 0);
  transition: all 0.25s ease-out;
}
#get-started:hover {
  box-shadow: -1px 14px 12px 0 rgb(0, 0, 0);
}
#get-started.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#get-started.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate__animated.animate__fadeIn {
  --animate-duration: 2.5s;
}

button.menu-toggle {
  z-index: 1000 !important;
  opacity: 0.6;
  background-color: transparent;
  position: fixed;
  z-index: 2;
  top: 24px;
  left: 24px;
  border: none;
  width: 36px;
  height: 30px;
  outline: none;
  transition: opacity 0.2s ease-out;
}
button.menu-toggle:after {
  opacity: 0;
  content: "×";
  color: white;
  position: absolute;
  top: 40px;
  left: 4px;
  font-family: Arial, sans-serif;
  font-size: 76px;
  line-height: 0;
  transition: opacity 0.4s ease-out;
}
button.menu-toggle:active {
  transform: translateY(2px);
}
button.menu-toggle:hover {
  opacity: 1;
}
.open button.menu-toggle {
  opacity: 1;
}
.open button.menu-toggle:before {
  opacity: 0;
  width: 0;
}
.open button.menu-toggle:after {
  opacity: 1;
  transform: translate3d(0, 0, 0) rotate(360deg);
  transition: transform 0.4s 1s ease-out, opacity 0.4s 1s ease-out;
}

nav {
  z-index: 5;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
}
nav:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #1C3761;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  transform: scale(0.04), translateY(9999px);
  overflow: hidden;
}
.open nav {
  top: 0;
}
.open nav:before {
  -webkit-animation: menu-animation 0.8s ease-out forwards;
          animation: menu-animation 0.8s ease-out forwards;
}

ul.menu {
  position: fixed;
  top: 46%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  perspective: 1000;
  color: white;
  padding: 0;
  font-size: 0.95rem;
}
ul.menu a {
  color: #fff;
  text-decoration: none;
}
ul.menu li {
  opacity: 0;
  text-align: center;
  transform: translate3d(0, 36px, 0);
  list-style: none;
}
ul.menu li:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  left: auto;
  background-color: white;
  height: 100%;
  width: 0;
  overflow: hidden;
  transition: width 0.14s ease-out;
}
ul.menu li:after {
  position: relative !important;
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #05A653;
  overflow: hidden;
  font-weight: bold;
  transform: translate(50%, 50%) !important;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}
ul.menu li:hover:before {
  left: 0;
  right: auto;
  width: 100%;
}
ul.menu li:hover:after {
  opacity: 1;
  padding: 0 20px;
  transform: translate(0px, 6px);
  transition: transform 0.2s 0.14s ease-out, opacity 0.2s 0.14s ease-out;
}
.open ul.menu li {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}
.open ul.menu li:nth-child(1) {
  transition-delay: 0.75s;
}
.open ul.menu li:nth-child(2) {
  transition-delay: 0.85s;
}
.open ul.menu li:nth-child(3) {
  transition-delay: 0.95s;
}
.open ul.menu li:nth-child(4) {
  transition-delay: 1.05s;
}

#country_pick {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 4;
  box-shadow: 0 0 20px #000;
}
#country_pick .pick {
  float: right;
}

#country_pick div {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  width: 600px;
  background: #fff;
  z-index: 10;
  text-align: center;
  padding: 1.1em;
}
#country_pick div a {
  text-decoration: none;
  color: #000;
}
#country_pick div a img {
  opacity: 0.5;
  transition: all 0.5s;
}
#country_pick div a img:hover {
  opacity: 1;
}
#country_pick div img {
  max-height: 410px;
  opacity: 0.4;
}
#country_pick div img#pick_chile {
  margin-right: -110px;
}
#country_pick div h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85rem;
}
#country_pick div h4.chile_txt {
  margin-left: -160px;
}
#country_pick div h4.arg_txt {
  margin-left: 170px;
}

.fade-in {
  -webkit-animation: fadeIn ease 0.5s;
          animation: fadeIn ease 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: scale(0.04) translateY(300%);
  }
  40% {
    transform: scale(0.04) translateY(0);
    transition: ease-out;
  }
  40% {
    transform: scale(0.04) translateY(0);
  }
  60% {
    opacity: 1;
    transform: scale(0.02) translateY(0px);
  }
  61% {
    transform: scale(0.04);
  }
  99.9% {
    height: 0;
    padding-bottom: 100%;
    border-radius: 100%;
  }
  100% {
    transform: scale(2);
    height: 100%;
    padding-bottom: 0;
    border-radius: 0;
  }
}
@media only screen and (max-height: 700px) {
  #logo {
    top: 10%;
  }
  #message {
    top: 45%;
    font-size: 1.4rem;
  }
  ul.menu {
    top: 52%;
    font-size: 0.85rem;
  }
}
.fixed-bottom-logos {
  font-size: 0.47rem;
  font-weight: 400;
  line-height: 0.7rem;
  text-indent: -0.3rem;
  font-family: "Quicksand", sans-serif;
  border: none;
}
.fixed-bottom-logos .bottom-data .bottom-bi {
  margin-left: 0.3rem;
}
.fixed-bottom-logos .card {
  border: none;
  max-width: 900px;
}
.fixed-bottom-logos .card-body {
  margin: 0 auto;
  padding: 0;
}
.fixed-bottom-logos .card {
  background: #fff;
  border-radius: 4px;
}
.fixed-bottom-logos img {
  max-width: 110px;
  margin: 1em;
  border-radius: 4px;
}
.fixed-bottom-logos span {
  display: block;
  font-size: 0.54rem;
}

#first-div {
  margin-left: 15%;
}

nav #navigation {
  position: absolute;
  opacity: 0.4 !important;
  filter: blur(0.25rem);
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}

#destinations {
  overflow-x: hidden;
}
#destinations .bottom-data {
  font-size: 0.52rem;
}
#destinations .bottom-data #first-div {
  margin-left: 140px;
}
#destinations .bottom-data span {
  display: block;
  margin-left: -18px;
}
#destinations #copy {
  font-size: 0.55rem;
}
#destinations .hero-text {
  z-index: 0;
  position: relative;
  text-align: left;
  font-family: "Quicksand", sans-serif;
  background-color: #fff;
  width: 100%;
  max-width: 900px;
  padding: 1.7em 1.8em 1.2em 1.2em;
  margin: 0 auto;
}
#destinations .hero-text h1 {
  font-size: 1.8rem;
  padding: 0;
  margin-top: -125px;
  margin-bottom: 40px;
  margin-left: -2px;
  color: #fff;
}
#destinations .hero-text h1 span {
  color: #05A653;
  font-weight: bold;
}
#destinations .hero-text h2 {
  padding: 0;
  color: #333;
  display: inline-block;
  font-size: 0.7rem;
  line-height: 1.1rem;
}
#destinations .hero-text h2 span {
  color: #000;
  padding-left: 0.5em;
}
#destinations #logo {
  text-align: right;
  top: 0;
  position: absolute;
  right: 30px;
  transform: none;
}
#destinations #logo img {
  max-width: 250px;
}
#destinations.open #logo.opened {
  z-index: 5;
  position: fixed;
}
#destinations #get-started {
  display: block;
  position: fixed;
  left: 24px;
  top: 15px;
  z-index: 4;
  transform: none;
  font-family: "Quicksand", sans-serif;
  font-size: 1.9rem;
  padding: 0.3em;
  background: #fff;
  border-radius: 100%;
  color: #1C3761;
  box-shadow: none;
}
#destinations #content {
  z-index: 1;
}
#destinations #content h1 {
  color: #05A653;
  font-size: 1.5rem;
  margin: 1.7em 0 -1em 0;
}
#destinations #content .card-body {
  padding: 0.2em 0.4em 0.2em 0.2em;
  text-align: right !important;
  background-color: #ccc;
}
#destinations #content .card-body .card-text {
  font-size: 0.6rem !important;
}
#destinations #content .icons {
  max-width: 550px;
  margin: 0 auto;
}
#destinations #content .icons_wrap {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  border-radius: 5px;
}
#destinations #content p {
  font-size: 0.75rem;
}
#destinations #content h3, #destinations #content h4 {
  font-family: "Quicksand", sans-serif;
}
#destinations #content h4 b {
  color: black;
}
#destinations #content h3 {
  font-size: 1.9rem;
  margin: 1.3em 0 0.2em 0;
}
#destinations #content h4 {
  font-size: 1.3rem;
}
#destinations #content h4.lead {
  font-size: 0.85rem;
  line-height: 1.2rem;
  text-transform: uppercase;
}
#destinations #content .yellow h3, #destinations #content .yellow h4 {
  color: #fcba03;
}
#destinations #content .yellow h4.lead {
  color: #6b5b28;
}
#destinations #content .purple h3, #destinations #content .purple h4 {
  color: #420791;
}
#destinations #content .purple h4.lead {
  color: #7B257D;
}
#destinations #content .brown h3, #destinations #content .brown h4 {
  color: #846145;
}
#destinations #content .brown h4.lead {
  color: #BF8F45;
}
#destinations #content .red h3, #destinations #content .red h4 {
  color: #FF2828;
}
#destinations #content .red h4.lead {
  color: #88231b;
}
#destinations #content .orange h3, #destinations #content .orange h4 {
  color: #FB4F21;
}
#destinations #content .orange h4.lead {
  color: #FB4F21;
}
#destinations #content .blue h3, #destinations #content .blue h4 {
  color: #218DD5;
}
#destinations #content .blue h4.lead {
  color: #1C3761;
}
#destinations #content .green h3, #destinations #content .green h4 {
  color: #2C7866;
}
#destinations #content .green h4.lead {
  color: #05A653;
}
#destinations #content .pink h3, #destinations #content .pink h4 {
  color: #8d1b93;
}
#destinations #content .pink h4.lead {
  color: #C726D0;
}
#destinations #content .card-text {
  font-size: 0.7rem;
}
#destinations #content .card {
  transform: scale(0.96);
  transition: all 0.2s;
  border-color: #ccc;
  color: #666;
  border-radius: 3px;
}
#destinations #content .card img {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  filter: grayscale(100%);
  margin-left: -1px;
  width: 100.15%;
}
#destinations #content .card:hover {
  color: #333;
  transform: scale(1);
  box-shadow: 0 0 30px #ccc;
}
#destinations #content .card:hover img {
  filter: grayscale(0%);
}
#destinations #content .card video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  opacity: 0.8;
  transition: all 0.4s;
}
#destinations #content .card video:hover {
  opacity: 1;
  filter: grayscale(0%);
}
#destinations #contact_us {
  border-top: 1px solid #ccc;
  padding: 1.2em 0;
  margin-top: 1.3em;
}
#destinations #hero {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  margin: -350px auto 0 auto;
}
#destinations #hero-img {
  margin-top: -350px;
}
#destinations #hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 2;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 96%);
}
#destinations #map_wrap {
  position: relative;
  -webkit-animation: fadeInMap 2s;
          animation: fadeInMap 2s;
}
@-webkit-keyframes fadeInMap {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInMap {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#destinations #left_map {
  position: absolute;
  margin-left: 0px;
}
#destinations #left_map img {
  max-width: 90%;
}
@media only screen and (max-height: 700px) {
  #destinations #hero {
    margin-top: -100px;
  }
  #destinations #left_map {
    transform: scale(0.8);
    margin-top: -5px;
  }
  #destinations #hero-img {
    margin-top: -430px;
  }
}
#destinations .mapdiv {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #333;
}
#destinations .mapdiv::before {
  position: absolute;
  background: #85b9ce;
  content: "";
  top: 0;
  left: 0;
  border: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
#destinations .mapdiv.anima {
  -webkit-animation: pulsing 2s ease-out infinite;
          animation: pulsing 2s ease-out infinite;
  opacity: 1;
}
@-webkit-keyframes pulsing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes pulsing {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
#destinations #mapDiv1 {
  margin-top: 255px;
  margin-left: 53px;
  opacity: 0;
}
#destinations #mapDiv1.mapdiv, #destinations #mapDiv1.mapdiv::before {
  background: #fcba03;
}
#destinations #mapDiv2 {
  margin-top: 280px;
  margin-left: 57px;
  opacity: 0;
}
#destinations #mapDiv2.mapdiv, #destinations #mapDiv2.mapdiv::before {
  background: #420791;
}
#destinations #mapDiv3 {
  margin-top: 25px;
  margin-left: 48px;
  opacity: 0;
}
#destinations #mapDiv3.mapdiv, #destinations #mapDiv3.mapdiv::before {
  background: #BF8F45;
}
#destinations #mapDiv4 {
  margin-top: 100px;
  margin-left: 75px;
  opacity: 0;
}
#destinations #mapDiv4.mapdiv, #destinations #mapDiv4.mapdiv::before {
  background: #FF2828;
}
#destinations #mapDiv5 {
  margin-top: 200px;
  margin-left: 50px;
  opacity: 0;
}
#destinations #mapDiv5.mapdiv, #destinations #mapDiv5.mapdiv::before {
  background: #FB4F21;
}
#destinations #mapDiv6 {
  margin-top: 380px;
  margin-left: 43px;
  opacity: 0;
}
#destinations #mapDiv6.mapdiv, #destinations #mapDiv6.mapdiv::before {
  background: #1C3761;
}
#destinations #mapDiv7 {
  margin-top: 430px;
  margin-left: 37px;
  opacity: 0;
}
#destinations #mapDiv7.mapdiv, #destinations #mapDiv7.mapdiv::before {
  background: #05A653;
}
#destinations #mapDiv8 {
  margin-top: 490px;
  margin-left: 53px;
  opacity: 0;
}
#destinations #mapDiv8.mapdiv, #destinations #mapDiv8.mapdiv::before {
  background: #218DD5;
}
#destinations #mapDiv9 {
  margin-top: 660px;
  margin-left: 63px;
  opacity: 0;
}
#destinations #mapDiv9.mapdiv, #destinations #mapDiv9.mapdiv::before {
  background: #7B257D;
}
#destinations #mapDiv10 {
  margin-top: 220px;
  margin-left: -23px;
  opacity: 0;
}
#destinations #mapDiv10.mapdiv, #destinations #mapDiv10.mapdiv::before {
  background: #8d1b93;
}
#destinations .mapBall_1,
#destinations .mapBall_2,
#destinations .mapBall_3,
#destinations .mapBall_4,
#destinations .mapBall_5,
#destinations .mapBall_6,
#destinations .mapBall_7,
#destinations .mapBall_8,
#destinations .mapBall_9,
#destinations .mapBall_10 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  z-index: 4;
  cursor: pointer;
}
#destinations .mapBall_1 {
  background-color: #fcba03;
  margin-top: 260px;
  margin-left: 58px;
}
#destinations .mapBall_2 {
  background-color: #420791;
  margin-top: 285px;
  margin-left: 62px;
}
#destinations .mapBall_3 {
  background-color: #BF8F45;
  margin-top: 30px;
  margin-left: 53px;
  border: 1px solid #f5bc58;
}
#destinations .mapBall_4 {
  background-color: #FF2828;
  margin-top: 105px;
  margin-left: 80px;
}
#destinations .mapBall_5 {
  background-color: #FB4F21;
  margin-top: 205px;
  margin-left: 55px;
}
#destinations .mapBall_6 {
  background-color: #1C3761;
  margin-top: 385px;
  margin-left: 48px;
}
#destinations .mapBall_7 {
  background-color: #05A653;
  margin-top: 435px;
  margin-left: 42px;
}
#destinations .mapBall_8 {
  background-color: #218DD5;
  margin-top: 495px;
  margin-left: 58px;
}
#destinations .mapBall_9 {
  background-color: #7B257D;
  margin-top: 665px;
  margin-left: 68px;
}
#destinations .mapBall_10 {
  background-color: #8d1b93;
  margin-top: 225px;
  margin-left: -18px;
}/*# sourceMappingURL=style.css.map */